name: documents-update

on:
  workflow_dispatch:
    inputs:
      payload:
        description: "JSON payload (string)"
        required: true
        type: string

jobs:
  install-dependencies:
    name: Create Custom Documents
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Verify installed packages
        run: |
          echo "Installed packages:"
                pip freeze | sed -n '1,100p'

      - name: Print Received Payload
        run: |
            echo "LAST_NAME=$(echo '${{ github.event.inputs.payload }}' | jq -r '.lastName')" >> $GITHUB_ENV
            echo "FIRST_NAME=$(echo '${{ github.event.inputs.payload }}' | jq -r '.firstName')" >> $GITHUB_ENV
            echo "BIRTH_DATE=$(echo '${{ github.event.inputs.payload }}' | jq -r '.birthDate')" >> $GITHUB_ENV
            echo "PESEL=$(echo '${{ github.event.inputs.payload }}' | jq -r '.pesel')" >> $GITHUB_ENV
            echo "EMPLOYER_NAME=$(echo '${{ github.event.inputs.payload }}' | jq -r '.employerName')" >> $GITHUB_ENV

            echo "Exported environment variables:"
            echo "LAST_NAME=$LAST_NAME"
            echo "FIRST_NAME=$FIRST_NAME"
            echo "BIRTH_DATE=$BIRTH_DATE"
            echo "PESEL=$PESEL"
            echo "EMPLOYER_NAME=$EMPLOYER_NAME"
